/* CHART Colours */
$col1: #2ec6c8;
$col2: #f4984e;
$col3: #b5a1dd;
$col4: #5ab0ee;
$col5: #d57b7e;

/* DASHBOARD Colours */
$blue1: #364760;
$blue2: #2a394f;
$blue3: #3c4f6b;

$darkblue:  #2a394f; /* Hovered Blue*/
$blue:      #364760; /* Default Blue*/

/* MISC/GENERAL */
$paleblue:  #d5dae6; /* Grey-Blue Font/Bg*/
$offwhite:  #f8f6f3;
$white:     #ffffff; /* white */
$lightblue: #268bcd; /* Blue Blue*/