@import 'dashboardVars';

.dashboard-overlay {
    position: initial;
    width: 100%;
    z-index:10000;
}

.dashboard-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 60px 0px 0px 0px;
    border-style: solid;
    border-color: $blue;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;

    a, li, ul, span, div {
        color: #a0acc1;
    }

    .leftSide {
        position: fixed;
        visibility: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        z-index:10001;
        max-height: 100%;
        overflow-y: auto;

        li {
            visibility: hidden;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
            transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
            -webkit-transform: translate3d(-100%,0,0);
            -moz-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
            float: left;
            width: 300px;
            text-transform:uppercase;

            i, svg {
                margin-bottom: -2px;
                margin-right: 20px;
            }

            svg.favorite {
                height: 13px;
                width: 13px;
                margin-left: 10px;
                margin-bottom: -3px;
                margin-top: 19px;
                display: none;
                position: absolute;
                top: -1px;

                path {
                    fill: #2A394F;
                }

                &:hover {
                    path {
                        fill: #268BCD;
                    }
                }
            }

            svg.favorite.favorited {
                display: inline;
                path {
                    fill: #268BCD;
                }

                &:hover {
                    path {
                        fill: #2A394F;
                    }
                }
            }

            ul {
                position: inherit;

                li {
                    text-transform: none;
                    font-size: 14px;
                    padding-right: 10px;
                    min-height: 50px;
                    line-height: 50px;

                    span {
                        font-size: 14px;
                    }

                    &:hover {
                        > span {
                            path {
                                fill: #fff;
                            }
                            color: #fff;
                        }
                    }
                }

                li.active {
                    width: 297px;
                }
            }

            a {
                float: left;
                padding: 0 40px;
                padding-right: 0;
                color: #a0acc1;

                svg {
                    height: 16px;
                    width: 16px;
                    fill: #a0acc1;
                }
                span {
                    font-size: 14px;
                }
            }

            &:hover {
                > a {
                    path {
                        fill: #fff;
                    }
                    color: #fff;
                }

                > svg.favorite {
                    display: inline;
                }

                > a > svg.favorite {
                    display: inline;
                }
            }

            &:not(.logoBox) {
                cursor: pointer;
            }
        }

        li.sideNav {
            width: 300px;
            border-left: 3px solid $lightblue;

            p {
                font-size: 14px;
                padding-left: 25px;
                padding-top: 10px;
                background-color: #364760;
                margin-bottom: 0;
                padding-bottom: 10px;
                z-index: 50;
                position: relative;

                svg {
                    height: 20px;
                    width: 20px;
                    float: left;
                    fill: #a0acc1;
                }

                span {
                    float: left;
                    font-size: 14px;
                }
                &:hover {
                    color: #a0acc1;

                    path {
                        fill: #a0acc1;
                    }
                }
            }

            ul {
                padding-left: 0px;
                li {

                    svg.line {
                        width: 28px;
                        height: 60px;
                        position: absolute;
                        left: 32px;
                        top: -30px;
                        z-index: 40;

                        circle {
                            fill: #2a394f;
                        }

                        polygon {
                            fill: #2a394f;
                        }

                        &.favorited {
                            circle {
                                fill: #268BCD;
                            }
                        }
                    }

                    cursor: pointer;
                    width: 210px;
                    padding-left: 80px;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            /*&:hover {
                background-color: inherit;
            }*/
        }

        li.link_groups a, li.link_users a, li.logout_wrap a {
            font-size: 14px;
            padding-left: 25px;
            padding-top: 17px;
            padding-bottom: 17px;
        }

        li.logoBox {
            height: 60px;
            background: url(../images/onboard-logo.png);
            background-repeat: no-repeat;
            background-size: 148px 33px;
            background-position: 15% 45%;
            background-color: $darkblue;
        }

        li.active {
            width: 297px;
        }
    }

    .topSide {
        position: fixed;
        visibility: visible;
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        height: 60px;
        padding-left: 0;
        border-left: none;
        left: 0;
        right: 0;
        top: 0;
        z-index:10001;

        -webkit-transition: left 0.3s;
        transition: left 0.3s;

        .left, .top {
            float: left;
            line-height: 60px;
            height: 60px;

            ul {
                position: inherit;
                padding-left: 0;
            }
        }

        .left {
            float: left;

            li {
                float: left;
                cursor: pointer;

                &:hover > span {
                    color: #fff;
                }
            }

            .dashboard-menu-trigger {
                position: relative;
                display: block;
                width: 70px;
                height: 60px;

                span {
                    position: absolute;
                    top: 46%;
                    left: 39%;
                    display: block;
                    width: 25%;
                    height: 4%;
                    font-size: 0px;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                span:before, span, span:after {
                    background-color: #a0acc1;
                    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
                    transition: transform 0.3s, background-color 0.3s;
                }

                span:before,
                span:after {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    -webkit-transition: -webkit-transform 0.3s;
                    transition: transform 0.3s;
                }

                span:before {
                    -webkit-transform: translateY(-250%);
                    -moz-transform: translateY(-250%);
                    transform: translateY(-250%);
                }

                span:after {
                    -webkit-transform: translateY(250%);
                    -moz-transform: translateY(250%);
                    transform: translateY(250%);
                }

                &:hover {
                    span:before, span, span:after {
                        background-color: #fff;
                    }
                }
            }

            li.dashboardDropDown {
                margin-left: 0px;
                display: list-item;
                border-left: none;
                border-right: none;
            }

            li.lockPage {
                width: 30px;
                height: 60px;
                margin-right: 0;
                padding-right: 0;
            }

            #addPage, #sharePage {
                width: 30px;
                height: 60px;
            }

            #addPage {
                span {
/*                    background: url(../img/add_dashboard.png);*/
                    width: 100%;
                    height: 100%;
                    float: left;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    font-size: 0;
                }
            }

            #sharePage {
                span {
/*                    background: url(../img/share-icon.png);*/
                    width: 100%;
                    height: 100%;
                    float: left;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    font-size: 0;
                }
            }

            > ul > li {
                border-right: 1px solid $darkblue;
            }

            > ul > li:last-of-type:not(.dashboardDropDown) {
                border-right: none;
            }

            .toggleUpdateLi {
                height: 60px;
                border-right: none;
                border-left: 1px solid $darkblue;

                .toggleUpdate {
                    display: block;
                    position: relative;
                    text-indent: -5000px;
                    height: 27px;
                    width: 40px;
                    border-radius: 15px;
                    background: #518a3f;
                    margin-top: 17px;
                    margin-left: 20px;
                    -moz-transition: background-color .25s ease-in-out;
                    -webkit-transition: background-color .25s ease-in-out;
                    transition: background-color .25s ease-in-out;

                    .circleIcon {
                        position: absolute;
                        display: block;
                        height: 27px;
                        width: 27px;
                        top: 0;
                        left: 0;
                        border-radius: 15px;
                        background: #dbdae6;

                        -moz-transition: .25s ease-in-out;
                        -webkit-transition: .25s ease-in-out;
                        transition: .25s ease-in-out;

                        .icon_wifi {
                            float: left;
                            margin-left: 4.5px;
                            margin-top: 7px;

                            path {
                                fill: #364760;
                            }
                        }
                    }
                }

                .toggleUpdate.off {
                    background: $darkblue;

                    .circleIcon {
                        left: 15px;
                        box-shadow: 0 2px 4px rgba(0,0,0,.2);
                    }
                }

                .tooltip-inner {
                    background-color: $darkblue;
                }

                .tooltip.top .tooltip-arrow {
                    border-top-color: $darkblue;
                }
                .tooltip.top-left .tooltip-arrow {
                    border-top-color: $darkblue;
                }
                .tooltip.top-right .tooltip-arrow {
                    border-top-color: $darkblue;
                }
                .tooltip.right .tooltip-arrow {
                    border-right-color: $darkblue;
                }
                .tooltip.left .tooltip-arrow {
                    border-left-color: $darkblue;
                }
                .tooltip.bottom .tooltip-arrow {
                    border-bottom-color: $darkblue;
                }
                .tooltip.bottom-left .tooltip-arrow {
                    border-bottom-color: $darkblue;
                }
                .tooltip.bottom-right .tooltip-arrow {
                    border-bottom-color: $darkblue;
                }
            }
        }

        .right {
            float: right;
            margin: 20px 0;

            li {
                float: left;
                /*height: 60px;*/
                line-height: 60px;
                padding-left: 15px;
                padding-right: 15px;

                i, svg {
                    margin-bottom: -3px;
                    margin-right: 5px;
                    fill: #a0acc1;
                }
            }

            li:hover {
                 span {
                   color: #fff;
                }
                path {
                    fill: #fff;
                }
                

            }

            li.tracker {
                height: 60px;
                min-width: 40px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: $lightblue;
            }

            li.tracker:before {
/*                background: url(../img/heartbeat.png);*/
                width: 25px;
                height: 20px;
                content: 'x';
                font-size: 0;
                float: left;
                text-align: center;
                margin-top: 22px;
            }

            li {
                a:not(.link) {
                    padding: 0 20px;
                    color: #a0acc1;
                    letter-spacing: 1px;
                    font-size: 1em;
                    -webkit-transition: color 0.2s;
                    transition: color 0.2s;
                }
            }
            .fav_users, .fav_groups {
                span{
                    height:20px;
                    float:left;
                    line-height:20px;

                }
            }
            svg {
                height:20px;
                float:left;
                width: 20px;

            }
        }
    }

    ul {

        li,
        li a {
            display: block;
            outline: none;
            text-decoration: none;
        }

        &:nth-of-type(2) li a:not(.link) {
            color: transparent;
            text-align: center;
            font-size: 0px;
        }

        li a:before {
            color: #a0acc1;
            font-size: 24px;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;
        }
    }

    > ul {

        > li > ul li:hover {
            cursor: pointer;
        }
        &:nth-of-type(2) > li {

            > ul > li {

                &:first-of-type {
                    margin-left: 0;
                }
            }
            .left > ul > li:nth-of-type(n+2) {
                border-right: 1px solid #2e3e55;
            }
            .right > ul > li:nth-of-type(-n+2) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}

.dashboard-menu.dashboard-menu-open {
    border-width: 60px 0px 0px 300px;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
    height: 100%;

    .dashboard-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .topSide {
        left: 300px;
        right: 0;

        .left {
             > ul > li:first-of-type {
                /*border-left: 1px solid $darkblue;*/
            }

        }
    }

    .dashboard-menu-trigger {
        span {
            &:before {
                -webkit-transform: translateY(-250%);
                -moz-transform: translateY(-250%);
                transform: translateY(-250%);
            }

            &:after {
                -webkit-transform: translateY(250%);
                -moz-transform: translateY(250%);
                transform: translateY(250%);
            }
        }
    }

    ul {
        visibility: visible;

         &.leftSide {
            -webkit-transition: border 0.3s, border-width 0.8s, visibility 0s 0.3s;
            transition: border 0.3s, border-width 0.8s, visibility 0s 0.3s;

            li {
                visibility: visible;
                opacity: 1;
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
                -webkit-transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }

        &.topSide {
            li {
                .active {
                    border-left: 3px solid $lightblue;
                }
            }
        }
    }
}

.dashboardDropDown {
    width: 125px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.dashboardDropDown .arrow {
    background: url(../images/drop-down-icon.png);
    content: 'x';
    font-size: 0;
    position: absolute;
    width: 9px;
    height: 6px;
    right: 8px;
    top: 27px;
}

.dashboardDropDown > span {
    width: 90px;
    height: 60px;
    float: left;
    margin-left: 15px;
    overflow: hidden;
}

.dashboardDropDown > ul {
    background-color: $blue;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

.dashboardDropDown > ul > li {
    background-color: $blue;
    display: block;
    width: 100%;
}

.dashboardDropDown > ul > li > span {
    margin-left: 12px;
    margin-right: 20px;
}

.dashboardDropDown:hover > ul {
    display: inline-block;
    opacity: 1;
    visibility: visible;
}