* {
  boxSizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-CondensedBold",Helvetica;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}

body{
  background: rgb(54, 71, 96);
}

header {
max-width: 270px;
margin: 60px auto 0;
text-align: center;
}
header img {
  max-width: 100%;
  max-height: 225px;
}

h1.banner {
  opacity: 0;
  font-family: Helvetica;
  color: #444;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 0;
  text-align: center;
  -webkit-user-select: none;
  font-size: 5vh; /* Chrome bug prevents resizing on window resize! */
  width: 100%;    /* Putting width 100% causes repaint on resize */
}

h1.banner.fadeIn {
  opacity: 1;
  transition: opacity 3s ease-in;
}

/* form-signin */

.form-signin {
  max-width: 270px;
  padding: 15px;
  margin: 0 auto;

  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
    float: left;
    margin-top: 15px;
    margin-bottom: 18px;
  }

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-control:focus {
    z-index: 2;
  }

  input {
    border-radius: 4px;
    border: 1px solid transparent;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #242D33;
  }

  input:focus {
    border: 1px solid #364760;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    margin: 0;
    width: 30px;
    height: 30px;
    background: #f6f9fd;
    float: left;
  }

  input[type='checkbox'] + span {
    float: left;
    margin-top: -3px;
    padding: 10px;
    color: #5B7180;
    font-weight: 600;
  }

  input[type='checkbox']:checked {
    background: #364760;
    /*box-shadow: inset 0px 1px 1px 1px #569cec;*/
  }

  input[type='checkbox']:checked:before {
    content: '';
    background: url(/checkmark-icon.png) no-repeat;
    background-size: 25px;
    width: 25px;
    float: left;
    height: 25px;
    position: relative;
    left: 2px;
    top: 4px;
    color: #fff;
  }

  button, input[type='submit'] {
    font-size: 18px;
    background-color: #28394f;
    border: 1px solid #202c3d;
    width: 100%;
    height: 50px;
    color: #fff;
    margin-top: 18px;
  }
}
/* end form-signin */

/* footer */

footer {
  margin-top: 70px;

  div {
    max-width: 270px;
    margin: 0 auto;
    text-align: center;
  }
footer div img {
      max-width: 100%;
      max-height: 100px;
    }
  

footer div.footerText {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #a0acbf;
    font-weight: 600;
  }
}

/* end footer*/

@mixin tileStyle {
  border-radius: 5px;
  background: #2A3954;
}
@mixin textTiles{
  position: relative;
  width: 100%;
  display: block;
  text-align: center; 
 
}

.tile {
  float: left;
}
.page{
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 52px;
  left:0;
  color: #d5dae6;
}
.tile5x4 {
  width: 57%;
  height: 90%; 
  position: relative;
}
.tile5x2 {
  width: 100%;
  display: block; 
  position: relative;
  background: #d5dae6;
  padding: 0.2% 1%;
    .wrapper {
    @include tileStyle;
    height: 48%;
    width: 99%; 
    display: block;
    margin-bottom: 4px;
    background-image: url(../images/huxley-logo.png);
    background-repeat: no-repeat;
    background-position: -5% 101%;    
  }
}
.tile2x2 {
  width: 38.75%;
  height: 50%; 
  display: block; 
  position: relative; 
  padding: .5% .5%;   
    div {
    @include tileStyle;
    height: 100%;
    background-image: url(../images/huxley-logo.png);
    background-repeat: no-repeat;
    background-position: -5% 101%;
  }
}
.tile1x2 {
  width: 20%;
  height: 50%; 
  display: block; 
  position: relative;
}
.tile1x1 {
  height: 49.0%; 
  display: block; 
  position: relative;
  padding: 2% 3% 3% 0;
    div {
    border-radius: 5px;
    height: 100%;
    color: #fff;
      span {
        @include textTiles;
        top:50px;             
      }
    }
    .number {
      font-size: 40px;  
    }
  }
.tile1x1:nth-child(odd) div{
    background: #5ab0ee;
  }
.tile1x1:nth-child(even) div {
    background: #b5a1dd;
  } 
.tileMap {
  width:42%;
  display: block;
  position: relative;
  right: 0;
  top: 0;
  background: #d5dae6;
  padding: 0.5% 0.5% 0;
  .wrapper {
    @include tileStyle;
    height: 88.5%; 
    display: block;
    margin-bottom: 1.7%;
  }
}  
.slideFromMenu {
  /*left:300px;*/
}
.message {
  @include textTiles;
  position: absolute;
  bottom: 10px;
}
.circles{
  position: absolute;
  left:50%;
  margin-left: -55px;
  top: 2px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 5px;
}
.circles:nth-child(odd){
  background: rgb(46, 194, 197);
};
.circles:nth-child(even){
  background: orange;
};
/*.circles:nth-child(){
  background: rgb(213, 123, 126);
};*/