.tile_4x4[tile-type="map"] {
    .marker-cluster-small {
        background-color: rgba(90, 176, 238, 0.6);
    }
    .marker-cluster-small div {
        background-color: rgba(90, 176, 238, 0.8);
    }

    .marker-cluster-medium {
        background-color: rgba(213, 123, 126, 0.6);
    }
    .marker-cluster-medium div {
        background-color: rgba(213, 123, 126, 0.8);
    }

    .marker-cluster-large {
        background-color: rgba(181, 161, 221, 0.6);
    }
    .marker-cluster-large div {
        background-color: rgba(181, 161, 221, 0.8);
    }

    /* IE 6-8 fallback colors */
    .leaflet-oldie .marker-cluster-small {
        background-color: #7fc3f4;
    }
    .leaflet-oldie .marker-cluster-small div {
        background-color: rgb(90, 176, 238);
    }

    .leaflet-oldie .marker-cluster-medium {
        background-color: #ea9a9d;
    }
    .leaflet-oldie .marker-cluster-medium div {
        background-color: rgb(213, 123, 126);
    }

    .leaflet-oldie .marker-cluster-large {
        background-color: #d1c2ef;
    }
    .leaflet-oldie .marker-cluster-large div {
        background-color: rgb(181, 161, 221);
    }

    .marker-cluster {
        background-clip: padding-box;
        border-radius: 20px;
    }
    .marker-cluster div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;

        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    .marker-cluster span {
        line-height: 30px;
    }
}